{% if page.comments != false %}
<div class="giscus-container">
<script 
  src="https://giscus.app/client.js"
  data-repo="c2mx/c2mx.github.io"
  data-repo-id="R_kgDOLI9anQ"
  data-category="General"
  data-category-id="DIC_kwDOLI9anc4CeuCZ"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="https://gw.alipayobjects.com/os/k/t/comment.css"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
</div>
{% endif %}
